.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 100px;
}

.main_promo {
  background-image: url('../../images/9.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.main_promo::after {
  content: '';
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  background: black;
  opacity: 0.5;
}

.main_equipment {
  background-image: url('../../images/1.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 40vh;
}

.main_equipment::after {
  content: '';
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.6;
}

.main_contacts {
  background-color: #003366;
}

.main-page {
  width: min(800px, 100%);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 150px 1fr;
  position: relative;
  min-height: 100%;
  z-index: 3;
}

.main-content__title {
  margin: 25px 0 0 0;
  padding: 0;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  color: white;
}


.main-content__title_black {
  color: black;
}

.main__nav-tab {
  position: fixed;
  left: 50px;
  top: 50px;
  background-color: black;
  width: 200px;
}

@media screen and (max-width: 1279px) {
  .main-page {
    width: 100%;
  }
}

@media screen and (max-width: 1279px) {
  .main-page {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-rows: 100px 1fr;
  }

  .main-content__title {
    font-size: 60px;
  }
}

  @media screen and (max-width: 767px) {
    .main-page {
      padding-left: 10px;
      padding-right: 10px;
      grid-template-rows: 70px 1fr;
    }

    .main-content__title {
      font-size: 36px;
    }
}    